  <div class="v-line"></div>
<div class="divider">
  <span class="divider--title small-heading">Previously</span>
</div>
<section id="secondary">

  <article class="prev-post wrap__narrow">
    <header>
      <h1 class="prev-post--title">In Vestibulum Urna</h1>
      <div class="prev-post--body">
        <p>
          Donec luctus ac nisl et blandit. Fusce elementum ultrices neque in dapibus. Vivamus hendrerit nulla eu quam ultricies, id tincidunt nulla feugiat.
        </p>
        <p><a href="" class="btn">Read</a>
      </div>
    </header>
    <p></p>
  </article>
</section>
