---
layout: default
---
  <main role="main">
    <article class="post">
      <header class="post--header wrap__narrow">
        <div class="post--meta">

          <div class="post--date-container">
            <div class="h-line">
              <span class="post--date small-heading">{{ page.date | date: "%-d %B %Y" }}</span>
            </div>
            <div class="v-line"></div>
          </div>

          <span class="post--category">{{ page.categories.first }}</span>
        </div>
        <h1 class="post--title">{{ page.title }}</h1>

      </header>
      <div class="post--body">
        {{ content }}
      </div>
    </article>
  </main>
